*{
	margin: auto;
	padding: auto;
}

.topbar {
	padding: 0px;
	background-color: #1a1a1a;
}
.cta-wrapper ul li i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 30px;
    background: transparent;
    color: orange;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
}
.cta-wrapper ul li {
    display: inline-block;
    font-weight: 400;
    color: #fff;
}
.cta-wrapper ul li:hover {
    color: #fff;
}
.social-wrapper ul li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    background: #20467A;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.social-wrapper ul li a:hover {
    background: #fff;
    color: orange;
}

@media screen and (max-width: 767px) {
    .cta-wrapper,
    .social-wrapper {
        text-align: center;
    }
    .social-wrapper {
        margin-top: 20px;
    }

}

.topbar li {
	padding: 0.5em 0em 0em 1em;
}

.carousel {
	margin-top: -1.4em;
}

.white-bg {
	background-color: #ffffff;
	padding: 1em 0em;
}

.whitesmoke-bg {
	background-color: #F5F5F5;
	padding: 1em 0em;
}

.blue-bg {
	background-color: #000033;
	padding: 1em 0em;
	margin-top: -1em;
}

.picture-bg {
	background-image: url('images/computer.jpg');
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
	padding: 1em 0em;
}

.help-bg {
	min-height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.cyan-bg {
	background-color: rgba(30, 144, 255, 0.5);
	height: 200px;
	width: 100%;
}

.footer-bg {
	background-color: #1a1a1a;
}

.services h3 {
	padding-bottom: 1em;
}

.why-us h3 {
	padding-bottom: 1em;
}
.why-us i {
	color: #4682B4;
}
.icon {
	text-align: center;
}
.why-us h4 {
	color: #1a1a1a;
}
.why-us p {
	padding: 0.5em 0em;
	text-align: justify;
}
.why-us-second {
	padding-top: 2em;
}

@media (max-width: 720px){
	.why-us h4 {
		text-align: center;
	}
}



.request-call h3 {
	color: #ffffff;
}

.request-call p {
	color: #ffffff;
	text-align: justify;
}

.request-call form {
	margin: 1.5em 0em;
}

@media (max-width: 720px){
	.request-call h3 {
		text-align: center;
	}
	.btn {
		float: right;
	}
}


.testimonial {
	width: 50%;
	height: 70%;
	margin-top: 5em;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.7);
}

.testimonial h4 {
	text-align: center;
	padding: 2em 3em 0em 3em;
	color: #1a1a1a;
	font-weight: bold;
	font-size: 18px;
}

.testimonial i {
	position: relative;
	bottom: 0.5em;
	right: 0.5em;
	color: blue;
}

.testimonial p {
	text-align: center;
	padding: 1em 1em;
	color: #1a1a1a;
}

@media (max-width: 720px) {
	.testimonial {
		width: 95%;
		height: 90%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

@media (min-width: 721px) and (max-width: 992px) {
	.testimonial {
		width: 75%;
		height: 90%;
		margin-top: 3em;
		margin-bottom: 2em;
	}
}

.case-study h3 {
	padding-bottom: 1em;
	text-align: center;
	font-weight: bold;
	color: #1a1a1a;
}

.help {
	width: 50%;
	height: 100%;
}

.help p {
	color: #FFFAFA;
	text-align: center;
	padding-top: 4em;
	font-size: 18px;
}

.footer-bg {
	color: #fff;
}














