
/*==== Corporate Theme ====*/
/*==== Designed by: RAYSITI Media(http://raysiti.com) ====*/

*{
	margin: auto;
	padding: auto;
	font-family: 'Noto Sans', sans-serif;
}


/*==== Background Colors ====*/

.white-bg {
	background-color: #ffffff;
	padding: 2em 0em;
}

.whitesmoke-bg {
	background-color: #F5F5F5;
	padding: 2em 0em;
}

.blue-bg {
	background-color: #000033;
	padding: 1em 0em;
	margin-top: -1em;
}

.picture-bg {
	background-image: url('images/computer.jpg');
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
	padding: 1em 0em;
}

.help-bg {
	min-height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.cyan-bg {
	background-color: rgba(1, 170, 193, 0.5);
	height: 200px;
	width: 100%;
}

.sky-bg {
	background-color: #01AAC1;
	height: 200px;
	width: 100%;
}

.footer-bg {
	background-color: #1a1a1a;
}


/*==== Topbar ====*/

.topbar {
	padding: 0.5em 0em 0em 1em;	
	background-color: #1a1a1a;
}
.cta-wrapper ul li i {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 30px;
    background: transparent;
    color: orange;
    text-align: center;
    border-radius: 3px;
    margin-right: 5px;
}
.cta-wrapper ul li {
    display: inline-block;
    font-weight: 400;
    color: #fff;
}
.cta-wrapper ul li:hover {
    color: #fff;
}
.social-wrapper {
	text-align: right;
}
.social-wrapper ul li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    background: #20467A;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.social-wrapper ul li a:hover {
    background: #fff;
    color: orange;
}

@media screen and (max-width: 767px) {
    .cta-wrapper,
    .social-wrapper {
        text-align: center;
    }
    .social-wrapper {
        margin-top: 0px;
    }
}


/*==== Navigation bar ====*/

.navbar {
	background-color: #fff !important;
}

@media(max-width: 720px) {
	.navbar ul li a {
		text-align: center;
		color: #1a1a1a;
	}
}

/*==== Slider Banner ====*/

.carousel {
	margin-top: -1.4em;
}
.carousel-caption h2{
	float: left;
	padding-bottom: 5em;
}
.carousel-caption a {
	float: left;
}

@media(max-width: 539px) {
	.carousel-caption h2 {
		float: left;
		font-size: 16px;
		padding-bottom: 1em;
	}
}

@media(min-width: 540px) and (max-width: 720px) {
	.carousel-caption h2 {
		float: left;
		font-size: 22px;
		padding-bottom: 3em;
	}
}

@media(min-width: 993px) and (max-width: 1190px) {
	.carousel-caption h2 {
		float: left;
		font-size: 28px;
		padding-bottom: 5em;
	}
}

@media(min-width: 721px) and (max-width: 992px) {
	.carousel-caption h2 {
		float: left;
		font-size: 24px;
		padding-bottom: 4em;
	}
}


/*==== Services Section ====*/

.services h3 {
	padding-bottom: 1em;
}
.service-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
}
.service-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.content {
	padding: 1em 1em;
	color: #fff;
}
.content h4 {
	text-align: left;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #fff;
}


/*==== Why us Section ====*/

.why-us h3 {
	padding-bottom: 1em;
}
.why-us i {
	color: #4682B4;
	padding-top: 0.2em;
}
.icon {
	text-align: center;
}
.why-us h4 {
	color: #1a1a1a;
}
.why-us p {
	padding: 0.5em 0em;
	text-align: justify;
}
.why-us-second {
	padding-top: 2em;
}

@media (max-width: 720px){
	.why-us h4 {
		text-align: center;
	}
}


/*==== Request Call Section ====*/

.request-call h3 {
	color: #ffffff;
}

.request-call p {
	color: #ffffff;
	text-align: justify;
}

.request-call form {
	margin: 1.5em 0em;
}

@media (max-width: 720px){
	.request-call h3 {
		text-align: center;
	}
	.btn {
		float: right;
	}
}

.testimonial {
	width: 50%;
	height: 70%;
	margin-top: 5em;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.7);
}
.testimonial h4 {
	text-align: center;
	padding: 2em 3em 0em 3em;
	color: #1a1a1a;
	font-weight: bold;
	font-size: 18px;
}
.testimonial i {
	position: relative;
	bottom: 0.5em;
	right: 0.5em;
	color: blue;
}
.testimonial p {
	text-align: center;
	padding: 1em 1em;
	color: #1a1a1a;
}

@media (max-width: 720px) {
	.testimonial {
		width: 95%;
		height: 90%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

@media (min-width: 721px) and (max-width: 992px) {
	.testimonial {
		width: 75%;
		height: 90%;
		margin-top: 3em;
		margin-bottom: 2em;
	}
}


/*==== Case Study Section ====*/

.case-study h3 {
	padding-bottom: 1em;
	text-align: center;
	font-weight: bold;
	color: #1a1a1a;
}
.case-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
}
.case-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
.case-content {
	padding: 1em 1em;
	color: #fff;
}
.case-content h4 {
	color: cyan;
	text-align: left;
	padding-bottom: 0.5em;
}

@media(max-width: 720px){
	.case-card {
		margin: 1em 0em;
	}
}


/*==== Help Section ====*/

.help {
	width: 50%;
	height: 100%;
}
.help p {
	color: #FFFAFA;
	text-align: center;
	padding-top: 4em;
	font-size: 18px;
}

@media(max-width: 720px){
	.help {
		width: 100%;
	}
	.help p {
		padding-top: 4em;
	}
}


/*==== Footer Section ====*/

.footer-bg {
	color: #fff;
	padding: 1em 0em;
}
.footer h1 {
	padding-bottom: 0.2em;
}
.footer h4 {
	padding: 1em 0em;
}
.footer p {
	text-align: justify;
}
.footer a {
	color: #fff;
}
.footer a:hover {
	color: #CC3363;
	text-decoration: none;
}
.footer a:focus {
	color: #CC3363;
	text-decoration: none;
}
.get-in-touch i{
	color: cyan;
}
.get-in-touch span {
	color: #fff;
	line-height: 20px;
	padding-left: 0.5em;
}
.fa {
	padding-bottom: 1em;
}
.subscribe i {
	padding-right: 1em;
}
.input-group-addon {
	background-color: #01AAC1 !important;
}
.glyphicon {
	color: #fff;
}
.need-help ul {
	list-style: none;
	padding-top: 4em;
}

@media (max-width: 720px){
	.footer h1 {
		font-size: 24px;
	}
	.need-help ul {
		list-style: none;
		padding-top: 1em;
		float: left;
	}
}


/*==== Copyright ====*/

.copyright p {
	color: #fff;
	text-align: center;
}
.copyright a {
	color: #CC3363;
}

@media (max-width: 720px) {
	.copyright p {
		text-align: center;
	}
}


/*==== About us Page ====*/

.about-title {
	background-image: url('images/about-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	margin-top: -1.4em;
	min-height: 100px;
}
.about-title h2 {
	padding-top: 0.5em;
	font-weight: bold;
	color: #fff;
}
.breadcrumb a {
	color: #000;
}
.breadcrumb a:hover {
	text-decoration: none;
	color: #CC3363;
}
.breadcrumb a:focus {
	text-decoration: none;
	color: #CC3363;
}
.about-content {
	padding: 1em 0em;
}
.about-content h3 {
	font-weight: bold;
}
.about-content p {
	text-align: justify;
	padding: 1em 0em;
}
.about-content img:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.directors {
	padding: 2em 0em;
}
.directors h3 {
	text-align: center;
	padding-bottom: 1em;
	text-decoration: underline;
	font-weight: bold;
}

.getquote {
	width: 80%;
	height: 100%;
	text-align: center;
	padding-top: 4em;
	font-weight: bold;
	color: #ffffff;
	font-size: 18px;
}

@media(max-width: 720px) {
	.about-title h2 {
		text-align: center;
	}
	.getquote {
		padding-top: 3em;
		text-align: center;
		width: 100%;
	}
}

/*==== About us Page End ====*/


/*==== Services Page Start ====*/

.services-title {
	background-image: url('images/services-banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: fixed;
	margin-top: -1.4em;
	min-height: 100px;
}
.services-title h2 {
	padding-top: 0.5em;
	font-weight: bold;
	color: #fff;
}
.breadcrumb {
	background-color: transparent !important;
}

.service-content {

}
.service-content img {
	padding-top: 2em;
}







